
<h1>Characters <a href="/characters/new">(+)</a></h1>

<ul>
  <% @characters.each do |character| %>
    <li>
      <a href="/characters/<%= character.id %>">
        <%= character.name %>
</a>
    </li>
  <% end %>
</ul>
