
<h1>Characters <a href="/characters/new">(+)</a></h1>

<ul>
  <% @characters.each do |character| %>


      <li>   <%= character.name %>
        <%= character.house %>
        <%= character.deceased %>
      
      </li>

  <% end %>
</ul>
